body{
    font-family: 'Poppins', sans-serif;
     margin: 0%;
 
}
.orange-color{
    color: orange;
}

h1{
          font-size: 40px;
}
section{
    display: flex;
    padding-left: 5%;

 
}
.half-width{
    width: 50%;
   
    
}
.half-width img{
  
    width: 60%;
    padding-left: 30%;
   
   
}
.profile-button{
    text-decoration:none;
    color: papayawhip;
    background-image: linear-gradient(orange, red);
    border-radius: 2px;
    padding: 8px 30px;
    margin-left: 2px;
    font-size: 20px;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
   
}
.dream-big{
    display: flex;
    background-image: url(images/dream-bg.png);
    background-position: right;
    background-repeat: no-repeat;

}
.half-width2{
    width: 50%;
padding-right: 5%;
   
    
}
.half-width2 img{
    width: 70%;
    padding-right: 30%;
    margin-top: 10%;
}
.experience{
   
    width: 40%;
   
    margin-right: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 10px;
    
    padding: 2%;
    box-shadow: 10px 10px 40px rgb(34, 33, 33);
}
.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position-y: 50px;
}
#border-left{
    border-left: 7px solid;
    border-image: linear-gradient(blue ,cyan);
    border-image-slice: 1;
}
#border-right{
    border-left: 7px solid;
    border-image: linear-gradient(rgb(255, 38, 0) ,rgb(166, 255, 0));
    border-image-slice: 1;
}
.footer{
    text-align: center;
    font-size: 15px;
    font-family: Georgia;
}